<!doctype html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Homepage</title>
    <link rel='stylesheet' type='text/css' href='common.css' />
</head>

<body>
    <div class='topnav'>
        <img class='topnav-logo' src='newlogo white.png' alt='logo' height='50'>
        <ul>
            <a href='/'>Home</a>
            <a href='mission.html'>Mission Statement</a>
            <div class='dropdown'>
                <button class='dropbtn'>Data Analyses
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <a href='page3.html'>2021 Census Results</a>
                    <a href='page4.html'>Changes between 2016 and 2021 Censuses</a>
                    <a href='page5.html'>Gap Score between Indigenous and Non-Indigenous</a>
                    <a href='page6.html'>Compare LGAs with Similar Characteristics</a>
                </div>
            </div>
            <a href='page7.html'>Resources</a>
        </ul>
        <input type='text' placeholder='Search...'>
    </div>
    <div class='header'>
        <h1>
            Welcome
        </h1>
    </div>
    <div class='content'>
        <h1>Addressing the Social Challenge</h1>
        <div class='wrapIntro'>
            <p>Entrenched inequalities are impacting the lives of Aboriginal and Torres Strait Islander people and
                communities.</p>
            <p>In accordance with the National Agreement on Closing the Gap, local Governing bodies, organizations,
                businesses,
                and others in the community are working towards achieving 17 different outcomes.</p>
            <p>This website provides data for the following three outcomes:</p>
        </div>
        <h1>Our Focus</h1>
        <div class='division'>
            <img src='outcomeA.png' style=width:110px>
            <h3><b>Outcome 1</b></h3>
            <p> Aboriginal and Torres Strait Islander people enjoy long and healthy lives</p>
        </div>
        <div class='division'>
            <img src='outcomeB.png' style=width:110px>
            <h3><b>Ouctome 5</b></h3>
            <p>Aboriginal and Torres Strait Islander students achieve their full learning potential</p>
        </div>
        <div class='division'>
            <img src='outcomeC.png' style=width:110px>
            <h3><b>Outcome 8</b></h3>
            <p>Strong economic participation and development of Aboriginal and Torres Strait Islander people and
                communities</p>
        </div>
        <!--
        <h1>Page information</h1>
        <ul class='bulletspacing'>
            <li><a href='/'>Homepage:</a> View all the current target outcomes and our focus</li>
            <li><a href='mission.html'>Our Mission:</a> View information about our website personas and our mission</li>
            <li>Data Analysis: Hover over to view the following webpages:
                <ul>
                    <li><a href='page3.html'>2021 Census Results:</a> Observe the lastest information available from the
                        2021 census
                        on 'The Gap' between Indigenous and Non-Indigenous peoples</li>
                    <li><a href='page4.html'>Changes between 2016 and 2021 Censuses:</a> Compare changes to 'the Gap'
                        between 2016
                        and 2021 censuses for a single Local Government Area or State</li>
                    <li><a href='page5.html'>Gap Score between Indigenous and Non-Indigenous:</a> Compare all three
                        target outcomes and performance between 2016 and 2021 censuses</li>
                    <li><a href='page6.html'>Compare LGAs with Similar Characteristics:</a> Compare similar Local
                        Government Areas' performance on addressing all the three target outcomes</li>
                </ul>
            </li>
            <li><a href='page7.html'>Resources:</a> View links to different websites and resources</li>
        </ul> -->

        <div class='outcome'></div>
            <ul>
                <li th:each= "target : ${outcome}" th:text="${target}"></li>
            </ul>
        </div>

    <div class='footer'>
        <h3>
            Acknowledgement of Country
        </h3>
        <p id='acknowledgementText'>
            Group 11 acknowledge and pay respect to Elders, both past and present, and all
            generations of Aboriginal and Torres Strait <br> Islander People now and into the
            future as the Traditional Owners of this land.
        </p>
        <p id='teamMemberCredit'>
            COSC2803 - Milestone 2 - This website was made by Ria Kapoor (s3973093) and Marielle Louisse Lopez
            (s3922406).
        </p>
    </div>
</body>

</html>