<html>

<head>
    <title>Our Mission</title>
    <link rel='stylesheet' type='text/css' href='common.css' />
</head>

<body>
    <div class='topnav'>
        <img class='topnav-logo' src='newlogo white.png' alt='logo' height='50'>
        <ul>
            <a href='/'>Home</a>
            <a href='mission.html'>Mission Statement</a>
            <div class='dropdown'>
                <button class='dropbtn'>Data Analyses
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <a href='page3.html'>2021 Census Results</a>
                    <a href='page4.html'>Changes between 2016 and 2021 Censuses</a>
                    <a href='page5.html'>Gap Score between Indigenous and Non-Indigenous</a>
                    <a href='page6.html'>Compare LGAs with Similar Characteristics</a>
                </div>
            </div>
            <a href='page7.html'>Resources</a>
        </ul>
        <input type='text' placeholder='Search...'>
    </div>
    <div class='header'>
        <h1 th:text="${title}"></h1>
    </div>
    <div class='content'>
        <div class='section'>
            <h1>Addressing 'Closing the Gap'</h1>
            <p>
                Our approach to addressing this social challenge includes raising awareness
                of all 17 target outcomes, however we will be particularly focusing on three:
            </p>
            <div class='target-outcome-wrap'>
                <div class='target-outcome'>
                    <img src='outcomeA.png'>
                    <h4>Outcome 1</h4>
                    <p th:text='${outcome1description}'></p>
                </div>
                <div class='target-outcome'>
                    <img src='outcomeB.png'>
                    <h4>Outcome 5</h4>
                    <p th:text='${outcome5description}'></p>
                </div>
                <div class='target-outcome'>
                    <img src='outcomeC.png'>
                    <h4>Outcome 8</h4>
                    <p th:text='${outcome8description}'></p>
                </div>
            </div>
            <p>
                This website provides data on these three target outcomes, which you can use to
                compare between two years - 2016 and 2021.
            </p>
            <p>
                We're also going to provide additional resources, but also insights on how progress
                is tracking on the targets of the 'Closing the Gap' campaign.
            </p>
        </div>
        <div class='section'>
            <h1>
                How to Use Our Website
            </h1>
            <p>
                A majority of site activity will be present in the 'Data Analyses' tab. The results
                that appear depend on what target outcome and type of data you are interested in.
            </p>
            <p>
                Generally, you must choose your filter options in the sidebar.
            </p>
            <p>
                More detailed instructions appear on each 'Data Analyses' page.
            </p>
        </div>
        <div class='section'>
            <h1>
                Personas
            </h1>
            <div class='personas-wrap'>
                <div class='persona'>
                    <h2 th:text='${persona1name}'></h2>
                    <img class='persona-details' th:src='${persona1imagepath}' alt='Joanna Tilden' height=100>
                    <ul class='persona-details'>
                        <li th:text='${persona1age}'></li>
                        <li th:text='${persona1ethnicity}'></li>
                        <li>"<i th:text='${persona1quote}'></i>"</li>
                    </ul>
                    <h3>Background</h3>
                    <ul>
                        <li th:each='background : ${persona1backgroundlist}' th:text='${background}'></li>
                    </ul>
                    <h3>Needs</h3>
                    <ul>
                        <li th:each='need : ${persona1needslist}' th:text='${need}'></li>
                    </ul>
                    <h3>Goals</h3>
                    <ul>
                        <li th:each='goal : ${persona1goalslist}' th:text='${goal}'></li>
                    </ul>
                    <h3>Skills and Experience</h3>
                    <ul>
                        <li th:each='skill : ${persona1skillslist}' th:text='${skill}'></li>
                    </ul>
                </div>
                <div class='persona'>
                    <h2 th:text='${persona2name}'></h2>
                    <img class='persona-details' th:src='${persona2imagepath}' alt='Lara King' height=100>
                    <ul class='persona-details'>
                        <li th:text='${persona2age}'></li>
                        <li th:text='${persona2ethnicity}'></li>
                        <li>"<i th:text='${persona2quote}'></i>"</li>
                    </ul>
                    <h3>Background</h3>
                    <ul>
                        <li th:each='background : ${persona2backgroundlist}' th:text='${background}'></li>
                    </ul>
                    <h3>Needs</h3>
                    <ul>
                        <li th:each='need : ${persona2needslist}' th:text='${need}'></li>
                    </ul>
                    <h3>Goals</h3>
                    <ul>
                        <li th:each='goal : ${persona2goalslist}' th:text='${goal}'></li>
                    </ul>
                    <h3>Skills and Experience</h3>
                    <ul>
                        <li th:each='skill : ${persona2skillslist}' th:text='${skill}'></li>
                    </ul>
                </div>
                <div class = 'persona'>
                    <h2 th:text = '${persona3name}'></h2>
                    <img class = 'persona-details' th:src = '${persona3imagepath}' alt = 'Oscar Smith' height = 100>
                    <ul class = 'persona-details'>
                        <li th:text = '${persona3age}'></li>
                        <li th:text = '${persona3ethnicity}'></li>
                        <li>"<i th:text = '${persona3quote}'></i>"</li>
                    </ul>
                    <h3>Background</h3>
                    <ul>
                        <li th:each = 'background : ${persona3backgroundlist}' th:text = '${background}'></li>
                    </ul>
                    <h3>Needs</h3>
                    <ul>
                        <li th:each='need : ${persona3needslist}' th:text='${need}'></li>
                    </ul>
                    <h3>Goals</h3>
                    <ul>
                        <li th:each='goal : ${persona3goalslist}' th:text='${goal}'></li>
                    </ul>
                    <h3>Skills and Experience</h3>
                    <ul>
                        <li th:each='skill : ${persona3skillslist}' th:text='${skill}'></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='footer'>
        <h3>
            Acknowledgement of Country
        </h3>
        <p id='acknowledgementText'>
            Group 11 acknowledge and pay respect to Elders, both past and present, and all
            generations of Aboriginal and Torres Strait <br> Islander People now and into the
            future as the Traditional Owners of this land.
        </p>
        <p id='teamMemberCredit'>
            COSC2803 - Milestone 2 - This website was made by Ria Kapoor (s3973093) and Marielle Louisse Lopez
            (s3922406).
        </p>
    </div>
</body>

</html>