<html>

<head>
    <title>Subtask 2.2</title>
    <link rel='stylesheet' type='text/css' href='common.css' />
</head>

<body>
    <div class='topnav'>
        <img class='topnav-logo' src='newlogo white.png' alt='logo' height='50'>
        <ul>
            <a href='/'>Home</a>
            <a href='mission.html'>Mission Statement</a>
            <div class='dropdown'>
                <button class='dropbtn'>Data Analyses
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <a href='page3.html'>2021 Census Results</a>
                    <a href='page4.html'>Changes between 2016 and 2021 Censuses</a>
                    <a href='page5.html'>Gap Score between Indigenous and Non-Indigenous</a>
                    <a href='page6.html'>Compare LGAs with Similar Characteristics</a>
                </div>
            </div>
            <a href='page7.html'>Resources</a>
        </ul>
        <input type='text' placeholder='Search...'>
    </div>
    <div class='header'>
        <h1 th:text='${title}'></h1>
    </div>

    <div class='content'>

        <h1>Changes between 2016 and 2021 Censuses</h1>
        <p>On this page, you can find the difference between 2016 and 2021 data on local government areas (LGAs) or
            states.</p>
        <p>Just apply your filter options in the sidebar and click 'Apply Filters'.</p>

        <div class='filter-sidebar'>

            <form action='/page4.html' method='post'>

                <div class='form-group'>

                    <fieldset>

                        <legend>Dataset</legend>
                        <ul style='list-style-type: none;'>
                            <!--TODO: find a way to implement this in external CSS stylesheet-->
                            <li>
                                <input id='highestSchoolYear' name='dataset' type='radio' value='EducationStatistics'>
                                <label for='dataset'>Highest Year of High School Completed</label>
                            </li>
                            <li>
                                <input id='indigenousStatus' name='dataset' type='radio' value='PopulationStatistics'>
                                <label for='dataset'>Indigenous Status</label>
                            </li>
                            <li>
                                <input id='householdIncome' name='dataset' type='radio' value='HouseholdStatistics'>
                                <label for='dataset'>Total Weekly Household Income</label>
                            </li>
                        </ul>

                    </fieldset>

                </div>

                <div class='form-group'>

                    <fieldset>

                        <legend>LGA/State</legend>

                        <ul style='list-style-type: none;'>
                            <!--TODO: find a way to implement this in external CSS stylesheet-->
                            <li>
                                <input id='LGA' name='locationType' type='radio' value='LGA'>
                                <label for='locatioNType'>LGA</label>
                            </li>
                            <li>
                                <input id='state' name='locationType' type='radio' value='State'>
                                <label for='locationType'>State</label>
                            </li>
                        </ul>

                        <br>

                        <datalist id='suggestions'> <!--TODO: retrieve options from database-->
                            <select id ='location' name = 'location'>
                                <option>10050</option>
                                <option>Second option</option>
                            </select>
                        </datalist>
                        <input autoComplete='on' list='suggestions'>

                    </fieldset>

                </div>

                <div class='form-group'>

                    <fieldset>

                        <legend>Value Type</legend>

                        <ul style='list-style-type: none;'>
                            <!--TODO: find a way to implement this in external CSS stylesheet-->
                            <li>
                                <input id='raw' name='valueType' type='radio' value='Raw'>
                                <label for='valueType'>Raw</label>
                            </li>
                            <li>
                                <input id='proportional' name='valueType' type='radio' value='Proportional'>
                                <label for='valueType'>Proportional</label>
                            </li>
                        </ul>

                    </fieldset>

                </div>

                <button type='submit' class='btn btn-primary'>Apply Filters</button>

            </form>
        </div>

        <h1 th:text='${titleResults}'></h1>
        <ul>
            <li th:each='result : ${dataset}' th:text='${result}'></li>
        </ul>

    </div>

    <div class='footer'>
        <h3>
            Acknowledgement of Country
        </h3>
        <p id='acknowledgementText'>
            Group 11 acknowledge and pay respect to Elders, both past and present, and all
            generations of Aboriginal and Torres Strait <br> Islander People now and into the
            future as the Traditional Owners of this land.
        </p>
        <p id='teamMemberCredit'>
            COSC2803 - Milestone 2 - This website was made by Ria Kapoor (s3973093) and Marielle Louisse Lopez
            (s3922406).
        </p>
    </div>

</body>

</html>
<html>